<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href=" home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <div class="upper">
        <div class="sleep">
            <h1>Storage Manager</h1>
            <div class="leftpper">
                <h1>Welcome <%= name %>
                </h1>
                <a href="/logout" class="tag">logout</a>
            </div>

        </div>

        <br>
        <br>
    </div>
    <div class="circle">
        <a href="/additem" class="zoo">Add Item</a>
        <a href="/history" class="zoo">History</a>
    </div>
    </div>
    <br>


    <% if (items.length!=0) { %>
        <!-- <%= "carot" %> -->


        <table>
            <thead>
                <tr>
                    <td>Item Name</td>
                    <td>Item Count</td>
                    <td>Date created</td>
                    <td>Add item count</td>
                    <td>Subtract item count</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                <% for (let i=items.length-1; i>=0 ; i--) { %>

                    <tr id="color">
                            <td>
                                <p>
                                    <%= items[i].itemName %>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <%= items[i].quantity %>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <%= items[i].Date %>
                                </p>
                            </td>
                            <td>
                                <p><a href="/add/<%= items[i]._id %>" style="color: rgb(0, 248, 0); font-weight: bold;">+</a></p>
                            </td>
                            <td>
                                <p><a href="/minus/<%= items[i]._id %>" style="color: red; font-weight: bold;">-</a></p>
                            </td>
                            <td><a href="/delete/<%= items[i]._id %>" style="color: red; font-weight: bold;">Delete</a></td>
                    </tr>

                    <% } %>
            </tbody>
        </table>

        <% }else{ %>
            <center>


                <!-- <h1> -->
                <a href="/addItem" class="ship">Add Item</a>
                <!-- </h1> -->

            </center>

            <% } %>
</body>

</html>
